<section class="content-header">
    <h1>
        {{_protocolname}}协议分析
    </h1>
    <ol class="breadcrumb">
        <li><a href="/security/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{_protocolname}}协议分析</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <chart [options]="_ports" [title]="'端口号TOP10'" [boxstyle]="this._commonFunction.boxstyle_Col6"
                [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>
        <div class="col-md-6">
            <chart [options]="_source_Top5" [title]="'源头TOP5'" [boxstyle]="this._commonFunction.boxstyle_Col6"
                [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <chart [options]="_source_dist_Top5" [title]="'源头目标TOP5'" [boxstyle]="this._commonFunction.boxstyle_Col6"
                [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>
        <div class="col-md-6">
            <chart [options]="_dist_Top5" [title]="'目标TOP5'" [boxstyle]="this._commonFunction.boxstyle_Col6"
                [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">基本数据</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <div class="box-body">
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                <th>
                                    IP地址
                                </th>
                                <th>
                                    被访问次数（{{_protocolname}}）
                                </th>
                                <th>
                                    被访问次数（总体）
                                </th>
                                <th>
                                    {{_protocolname}}协议被访问比例
                                </th>
                                <th>
                                    主动访问次数（总体）
                                </th>
                                <th>
                                    被访问次数占总体比例
                                </th>
                                <th>
                                    被访问协议占比
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of _profile.Top100HostInfo">
                                <td>{{item.Ip}}</td>
                                <td>{{item.DistProtocolCnt}}</td>
                                <td>{{item.DistCnt}}</td>
                                <td>{{item.ProtocolRate}}%</td>
                                <td>{{item.SourceCnt}}</td>
                                <td>{{item.DistRat}}%</td>
                                <td>
                                    <chart [options]="item.option" [miniMode]="true"
                                        [boxstyle]="this._commonFunction.boxstyle_mini"
                                        [chartstyle]="this._commonFunction.chartstyle_mini">
                                    </chart>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>