<section class="content-header">
    <h1>
        {{_protocolname}}协议分析
    </h1>
    <ol class="breadcrumb">
        <li><a href="/security/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{_protocolname}}协议分析</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <chart [options]="_ports" [title]="'端口号TOP10'" [boxstyle]="this._commonFunction.boxstyle_Col6"
                [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>
        <div class="col-md-6">
            <chart [options]="_source_Top5" [title]="'源头TOP5'" [boxstyle]="this._commonFunction.boxstyle_Col6"
                [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <chart [options]="_source_dist_Top5" [title]="'源头目标TOP5'" [boxstyle]="this._commonFunction.boxstyle_Col6"
            [chartstyle]="this._commonFunction.chartstyle_Col6">
        </chart>
        </div>
        <div class="col-md-6">
            <chart [options]="_dist_Top5" [title]="'目标TOP5'" [boxstyle]="this._commonFunction.boxstyle_Col6"
                [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>
    </div>
</section>