<section class="content-header">
    <h1>
        拓扑图
    </h1>
    <ol class="breadcrumb">
        <li><a href="/security/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            拓扑图
        </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <chart [options]="_topology" [title]="'拓扑图'" [boxstyle]="this._commonFunction.boxstyle_Col12_Row3"
                [chartstyle]="this._commonFunction.boxstyle_Col12_Row3"></chart>
        </div>
    </div>
</section> 