<section class="content-header">
    <h1>
        概要
    </h1>
    <ol class="breadcrumb">
        <li><a href="/security/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">概要</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">记录总数</span>
                    <span class="info-box-number">{{this._dashboard.TotalOrderCnt}}</span>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">总费用</span>
                    <span class="info-box-number">{{this._dashboard.TotalFee}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">共里程数（公里）</span>
                    <span class="info-box-number">{{this._dashboard.TotalDistanceKm}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">日期范围</span>
                    <span class="info-box-number">2017年5月 - 2017年10月</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <chart [options]="_weeklyOrdercnt" [title]="'订单数统计（周单位）'" [boxstyle]="this._commonFunction.boxstyle_Col6"
                [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>
        <div class="col-md-6">
            <chart [options]="_travellerCnt" [title]="'2017年海口市境内外过夜旅客数（万人）'"
                [boxstyle]="this._commonFunction.boxstyle_Col6" [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>        
        <div class="col-md-6">
            <chart [options]="_weeklyDistance" [title]="'订单距离（周单位）'"
                [boxstyle]="this._commonFunction.boxstyle_Col6" [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>
        <div class="col-md-6">
            <chart [options]="_weeklyTypes" [title]="'订单类型百分比（周单位）'"
                [boxstyle]="this._commonFunction.boxstyle_Col6" [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>
        <div class="col-md-6">
            <chart [options]="_weeklyTransport" [title]="'长途客运相关订单百分比（周单位）'"
                [boxstyle]="this._commonFunction.boxstyle_Col6" [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <chart [options]="_Time" [title]="'时间'" [boxstyle]="this._commonFunction.boxstyle_Col3"
                [chartstyle]="this._commonFunction.chartstyle_Col3">
            </chart>
        </div>
        <div class="col-md-3">
            <chart [options]="_Distance" [title]="'路程'" [boxstyle]="this._commonFunction.boxstyle_Col3"
                [chartstyle]="this._commonFunction.chartstyle_Col3"> </chart>
        </div>
        <div class="col-md-3">
            <chart [options]="_countys" [title]="'区县'" [boxstyle]="this._commonFunction.boxstyle_Col3"
                [chartstyle]="this._commonFunction.chartstyle_Col3"> </chart>
        </div>
        <div class="col-md-3">
            <chart [options]="_traffic_types" [title]="'交通类型'" [boxstyle]="this._commonFunction.boxstyle_Col3"
                [chartstyle]="this._commonFunction.chartstyle_Col3">
            </chart>
        </div>
    </div>

    <div class="row">
 
        <div class="col-md-3">
            <chart [options]="_product_ids" [title]="'产品线ID'" [boxstyle]="this._commonFunction.boxstyle_Col3"
                [chartstyle]="this._commonFunction.chartstyle_Col3">
            </chart>
        </div>
        <div class="col-md-3">
            <chart [options]="_order_type" [title]="'订单时效'" [boxstyle]="this._commonFunction.boxstyle_Col3"
                [chartstyle]="this._commonFunction.chartstyle_Col3"> </chart>
        </div>

        <div class="col-md-3">
            <chart [options]="_starting_pois" [title]="'出发地'" [boxstyle]="this._commonFunction.boxstyle_Col3"
                [chartstyle]="this._commonFunction.chartstyle_Col3"> </chart>
        </div>
        <div class="col-md-3">
            <chart [options]="_dest_pois" [title]="'目的地'" [boxstyle]="this._commonFunction.boxstyle_Col3"
                [chartstyle]="this._commonFunction.chartstyle_Col3"> </chart>
        </div>
    </div>

</section>