<section class="content-header">
    <h1>
        时间分析
    </h1>
    <ol class="breadcrumb">
        <li><a href="/security/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">时间分析</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <chart [options]="_protocols_rec_cnt" [title]="'时间别通信次数统计(按协议细分)'"
                [boxstyle]="this._commonFunction.boxstyle_Col4" [chartstyle]="this._commonFunction.chartstyle_Col4">
            </chart>
            <chart [options]="_protocols_traffic_cnt" [title]="'时间别通信流量统计(按协议细分)'"
                [boxstyle]="this._commonFunction.boxstyle_Col4" [chartstyle]="this._commonFunction.chartstyle_Col4">
            </chart>
        </div>
        <div class="col-md-8">
            <chart [options]="_traffic_3d" [title]="'每日流量按时间分析'" [boxstyle]="this._commonFunction.boxstyle_Col8_Row2"
                [chartstyle]="this._commonFunction.chartstyle_Col8_Row2"></chart>
        </div>
    </div>
</section>