<section class="content-header">
    <h1>
        概要
    </h1>
    <ol class="breadcrumb">
      <li><a href="/security/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">概要</li>
    </ol>
  </section>
<section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">记录总数</span>
                    <span class="info-box-number">{{this._dashboard.RecordCnt}}</span>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">协议数</span>
                    <span class="info-box-number">{{this._dashboard.ProtocolCnt}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">源头/目标IP数</span>
                    <span class="info-box-number">{{this._dashboard.SourceIpCnt}} / {{this._dashboard.DistIpCnt}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">上下行数据量（MB）</span>
                    <span class="info-box-number">{{this._dashboard.uplink_length}} / {{this._dashboard.downlink_length}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <chart [options]="_traffic_hours" [title]="'流量统计'" [boxstyle]="this._commonFunction.boxstyle_Col6" [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>
        <div class="col-md-6">
            <chart [options]="_protocols" [title]="'通信次数统计(按协议细分)'" [boxstyle]="this._commonFunction.boxstyle_Col6" [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <chart [options]="_source_Top10" [title]="'源头TOP10'" [boxstyle]="this._commonFunction.boxstyle_Col6" [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>
        <div class="col-md-6">
            <chart [options]="_dist_Top10" [title]="'目标TOP10'" [boxstyle]="this._commonFunction.boxstyle_Col6" [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <chart [options]="_source_dist_Top10" [title]="'源头目标TOP10'" [boxstyle]="this._commonFunction.boxstyle_Col6" [chartstyle]="this._commonFunction.chartstyle_Col6">
            </chart>
        </div>
    </div>
</section>